
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form asp-controller="DataImage" asp-action="showTeachers" method="get">
    <input type="submit" value="Show teachers" />
</form>
<br />

<form asp-controller="DataImage" asp-action="showStudents" method="get">
    <input type="submit" value="Show students"/>
</form>

